@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import "tailwindcss";

@keyframes close-tab-animation {
  from {
    opacity: 1;
    transform: scale(1);
    max-width: 200px; /* Adjust as needed */
    padding-left: 12px;
    padding-right: 12px;
  }
  to {
    opacity: 0;
    transform: scale(0.9);
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

.tab-closing {
  animation: close-tab-animation 0.3s ease-out forwards;
  overflow: hidden;
  white-space: nowrap;
  transition: none !important; /* Override other transitions */
}

body {
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

.ace_gutter {
  background: transparent !important;
}

.theme-glassy .ace_editor,
.theme-glassy .ace_content {
  background: transparent !important;
}

.ace_gutter-active-line {
  background: transparent !important;
}
.ace_cursor {
  transition: all 0.05s linear;
}

.theme-dracula .ace_gutter-active-line,
.theme-tomorrow-night .ace_gutter-active-line,
.theme-glassy .ace_gutter-active-line,
.theme-default .ace_gutter-active-line {
  color: #fff !important;
}

.theme-github .ace_gutter-active-line {
  color: #000 !important;
}
/* hide hidden caret*/
.ace_hidden-cursors .ace_cursor {
  opacity: 0 !important;
  visibility: hidden !important;
}
